/* .recipescard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 150px;
    gap: 10px;
    padding: 50px;
} */

.recipescard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    row-gap: 5px;
    column-gap: 5px;
    padding-left: 0;
}




/* On mouse-over, add a deeper shadow */
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
padding: 2px 16px;
}

.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 5px; /* 5px rounded corners */
text-align: center;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
border-radius: 5px 5px 0 0;
}

body {
    background-color: darkslategray;
}

/* credit to https://codepen.io/aya-suz/pen/ZEvqWQN */
.mainhead {
    background: linear-gradient(#fff, #fff),
                linear-gradient(#fff, #fff),
                linear-gradient(#fff, #fff),
                linear-gradient(rgb(142, 143, 249), rgb(142, 143, 249));
    background-repeat: no-repeat;
    background-position: left top, right bottom, right bottom, 0px 0px; 
    background-size: 48% 3px, 3px 65%, 75% 3px, 100% 100%;
    
    width: 350px;
    height: 115px;
    
    box-shadow: 20px 20px 0px rgb(112, 234, 211);
    
    text-align: center;
    line-height: 115px;
    color: #fff;
    
    position: relative;
    
    cursor: pointer;

}

.mainhead::after {
    content: "";
    height: 3px;
    width: 150px;
    background: rgb(254, 216, 215);
    position: absolute;
    top: 70%;
    left: 29%;
    
    transition: 0.2s;
    transform: scaleX(0);  
}

.mainhead:hover::after {
    transform: scaleX(1);  
}

@media only screen and (max-width: 430px) {
    .mainhead {
        width: 100%;
    }
    
    body {
        padding: 20px 0;
        margin: 0;
    }
}