{% extends 'base.html' %}

{% block main %}
    {% if session %}
        <form method="GET" action="/recipe" class="recipesearch">
            <h2>What ingredients do you have?</h2>
            <i><strong>hint*</strong> separate each item with a comma (e.g. chicken, rice, lettuce)</i><br><br>
            <label for="recipe"></label><input id="search" name="search">
            <button>submit</button>
        </form>
    {% else %}
        <p>Sorry no access for you</p>
    {% endif %}
{% endblock %}
