{% extends 'base.html' %}

{% block main %}
    {% if session %}
    <div class="recipescard">
        {% for recipe in ran_var %}
        <div class="card">
                <a href="{{ recipe['recipe']['url'] }}" target="_blank">
                    <img src="{{ recipe['recipe']['image'] }}" alt="">
                </a>
                <div class="container">
                <h3>
                    {{ recipe["recipe"]["label"] }}
                </h3>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>Sorry no access for you</p>
    {% endif %}
        <a href="/home">Home</a>
{% endblock %}
